[Desktop Entry]
Encoding=UTF-8
Name=GALR
Comment=GALR P2P Cryptocurrency
Comment[fr]=GALR, monnaie virtuelle cryptographique pair à pair
Comment[tr]=GALR, eşten eşe kriptografik sanal para birimi
Exec=galr-qt %u
Terminal=false
Type=Application
Icon=galr128
MimeType=x-scheme-handler/galr;
Categories=Office;Finance;
