[Unit]
Description=GALR's distributed currency daemon
After=network.target

[Service]
User=galr
Group=galr

Type=forking
PIDFile=/var/lib/galrd/galrd.pid

ExecStart=/usr/bin/galrd -daemon -pid=/var/lib/galrd/galrd.pid \
          -conf=/etc/galr/galr.conf -datadir=/var/lib/galrd

ExecStop=-/usr/bin/galr-cli -conf=/etc/galr/galr.conf \
         -datadir=/var/lib/galrd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
